.giveaways-body {
    margin: 100px 3vw 100px 3vw;
    overflow: scroll;
    height: 80vh;
}

#current-giveaways-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
}
