.close-dialog {
    position: absolute;
    font-size: 40px;
    margin: 0;
    top: -3px;
    right: 11px;
    background-color: transparent;
}

.close-dialog:hover {
    color: red;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}