nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2vw;
    width: 100%;
    position: fixed;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    top: 0px;
    background-color: rgb(26, 26, 26);
    z-index: 10;
}

#hamburger-icon {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav a {
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    margin: auto;
    padding: 15px;
    border-radius: 1px;
    /* background-color: rgb(72, 71, 71); */
    transition: background-color 0.7s, box-shadow 0.7s, margin-left 0.7s, margin-right 0.7s, transform 0.7s;
}

nav a:hover {
    color: rgba(241, 85, 85, 0.861);
}

nav .active {
    font-weight: bold;
    color: rgba(255, 18, 18, 0.947);
    pointer-events: none;
}

.nav-title {
    display: flex;
    flex-direction: row;
}

.wjp-logo {
    height: 75px;
}

#giveaway-title {
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: right;
    margin: auto;
    margin-right: 1vw;
    font-style: italic;
    color: rgb(249, 31, 31);
    font-weight: bolder;
}