#ticket-list {
    margin: 5px auto;
}

.ticket {
    background-color: rgba(105, 157, 235, 0.391);
    padding: 5px;
    margin-bottom: 2vh;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.2s;
    overflow: hidden;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.ticket-id {
    white-space: nowrap;
}

.ticket-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticket-details {
    display: inline-block;
    word-break: break-all;
}

.delete-ticket-btn {
    height: 30px;
    padding: 5px;
    align-self: flex-end;
    background-color: transparent;
    transition: all 0.3s;
}

.delete-ticket-btn img {
    height: 100%;
}

.delete-ticket-btn:hover {
    height: 35px;
    transition: all 0.3s;
}

.ticket:hover {
    background-color: rgba(138, 185, 255, 0.54);
    padding: 5px;
    margin-bottom: 2vh;
    border-radius: 2px;
    transition: all 0.2s;
}

.ticket:hover .ticket-header{
    font-weight: bold;
    transition: all 0.2s;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  